<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content no-padding>


  <ion-grid no-padding  text-center class="Content_trash">
      <p class="tittle_tarsh">App Basura</p>
      <ion-icon class="icon_trash" name="trash"></ion-icon>
    </ion-grid>
  <ion-grid padding text-center class="Content_login">
  	<ion-col col-12 padding>
  		<h3>Bienvenidos</h3>
      <p class="text_tarsh">App Basura es una aplicación con el objetivo de concienizar a la gente con la producción de basura</p>
  <button ion-button color="btn_gray" class="btn_sing" (click)="loginFacebook()">Sing in</button>
      <p (click)="loginFacebook__()"class="text_term">ingreso temporal</p>
     </ion-col>
    </ion-grid>

</ion-content>
