<ion-header>
  <ion-navbar>
    <button class="btn_menu" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>App Basura</ion-title>
    <ion-buttons end>
      <button class="plus-button" (click)="openList()">

      <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="normal">

  <ion-grid no-padding  class="Content_trash">
      <p class="text_tarsh">{{totalDias}} días</p>
      <ion-icon class="icon_trash" name="trash"></ion-icon>
      <p class="text_tarsh">{{totalkg}} kg</p>
    </ion-grid>
    <div class="bg-border-radius">
    </div>
  <ion-grid no-padding  class="normal_grid">
    <ion-row padding-horizontal>
    <ion-col col-6 text-center class="box-text">
      <p>Producto más consumido</p>
    </ion-col>
    <ion-col col-6 text-center class="box-text">
      <p class="text_middle">{{productoPlus}}</p>
    </ion-col>
  </ion-row>
    <ion-row padding-horizontal>
    <ion-col col-6 text-center class="box-text">
      <p class="promedio">Promedio anual</p>
    </ion-col>
    <ion-col col-6 text-center class="box-text">
      <p class="text_middle">{{promedio}} kg</p>
    </ion-col>
  </ion-row>

  </ion-grid>
</ion-content>
